{% extends "base.html" %}
{%block header%}
    <link href= {{ static_url("css/login.css") }} rel="stylesheet">
    <link href= {{ static_url("css/fullScreen.css") }} rel="stylesheet">
{%end%}
{% block body%}
    <div class="site-wrapper">        
        <div class="container col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="main-area">
                <div class="main-title">
                    <span class="glyphicon glyphicon-cloud"></span> 
                    企业信息服务平台
                </div>            
                <form action="/login" method="post">
                    {% raw xsrf_form_html() %}
                    <input type="text" id="Username" name="username" class="form-control" placeholder="用户名" required autofocus>
                    <input type="password" id="Password" name="password" class="form-control" placeholder="密码" required>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="remember-me">下次自动登录？
                        </label>
                    </div>
                    <button class="btn btn-lg btn-block login-btn" type="submit">登录</button>
                    <a href="/register" class="btn btn-lg btn-block login-btn register" role="button">进入注册界面</a>
                </form>
            </div>
        </div>
    </div>
{%end%}
